<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Takang Talks</title>
</head>

<body>
    <header>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <div class="container">
            <div class="flex-grid my-5">
                <div class="col " id="info">
                    <h1 class="info-me">
                        {{info}}
                    </h1>
                    <div class="line"></div>
                    <h4 class="my-3">
                        {{more_info}}
                    </h4>
                    <p class="desc">
                        {{description}}
                    </p>
                    <p class="desc my-3">
                        {{notification}}
                    </p>
                    <input @click="getNotification" type="submit" value="Get Notified" data-toggle="modal"
                        data-target="#exampleModal" class=" btn button">

                </div>
                <div class="col">
                    <div class="bottom-crop">
                        <img src="./public/standing.png" alt="image" class="main-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Takang Talks</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="submit-form" @submit.prevent="submitForm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input v-model="email" type="email" class="form-control" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">🔐 We'll never share your email with
                                anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Name</label>
                            <input v-model="name" type="text" class="form-control">
                        </div>
                        <button type="submit" class="btn button" id="submit-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- about section -->
    <div class="container-section">
        <div class="container about-container">
            <div class="row">
                <div class="col" id="about-image">
                    <img src="./public/about-me.png" alt="about-me-image" class="image">
                </div>
                <div class="col" id="about">
                    <h3 class="about-paragraph my-3">
                        {{ about }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-section">
        <div class="banner">
            <h1>Hear the word when we launch.</h1>
            <br />
            <p>Takang Talks is in development and in beta, it will be released soon. Become one of the first to get
                notified!
            </p>
            <br />
            <button class="btn button" data-toggle="modal" data-target="#exampleModal">Get Notified</button>
        </div>
    </div>
    <!-- pre-footer section -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Follow us</h3>
                <ul class="socials">
                    <li>
                        <a href="#"><span><img src="./public/instagram.svg" alt="insta"></span>Instagram</a>
                    </li>
                    <li>
                        <a href="#"><span>
                                <img src="./public/facebook.svg" alt="facebook">
                            </span>Facebook</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h3>Menu</h3>
                <ul>
                    <a href="#about">About</a>
                </ul>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <p>Made with ❤️ by <a href="https://www.github.com/KevinRaleie-dev/">Kevin Raleie</a></p>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./scripts/app.js"></script>
</body>

</html>